*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(https://www.wallpapertip.com/wmimgs/124-1247844_sunset-wallpaper-4k.jpg);
    
}
html{
    font-size: 62.5%;
}


.c1, .c2, .c3{
    width: 100%;
   
}


.c1 {
    background: rgb(251,159,63);
    background: radial-gradient(circle, rgba(251,159,63,1) 0%, rgba(231,42,19,1) 100%);
    text-align: center;
    position: fixed;
    
    
}
h1, span {
    color: #F5E4E4;
    
}
.c1 span {
    
    font-size: 1.6rem;
    

}



img {
    width: 45rem;
    height: 30rem;
    border-radius: 5%;
    margin: 4.5rem;
    margin-left: 10rem;
}


footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color:crimson;
}


footer {
    width: 100%;
    height: 3.5rem;
    background: rgb(121,119,158);
    background: linear-gradient(90deg, rgba(121,119,158,1) 0%, rgba(128,78,62,1) 0%, rgba(33,3,60,1) 100%);
    text-align: center;
    padding-top: 1rem;
    bottom: 0%;
    position:fixed;
}


 @media (min-width: 600px){
    .c1{
        width: 100%;
    }
  
  
}



@media (min-width: 800px){
    .container{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .c1{
        width: 100%;
        
    }
   
   
} 
@media (min-width: 1000px){
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
   
}
