*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://www.wallpapertip.com/wmimgs/124-1247844_sunset-wallpaper-4k.jpg);
    
}
html{
    font-size: 62.5%;
}


.main-section{
    width: 100%;
   
}


.main-section{
    
    background: rgb(251,159,63);
    background: radial-gradient(circle, rgba(251,159,63,1) 0%, rgba(231,42,19,1) 100%);
    text-align: center;
    position: fixed;
    top: 0%;
    
}
h1, span {
    color: #F5E4E4;
    
}
.main-section span {
    
    font-size: 1.6rem;
    

}
.images-section {
    background: rgb(121,119,158);
    background: linear-gradient(90deg, rgba(121,119,158,1) 0%, rgba(252,166,139,0.5452556022408963) 0%, rgba(33,3,60,1) 100%);
    padding: 0;
    margin: 5%;
    border-radius: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.images-section img {
    
    max-width: 45rem;
    border-radius: 5%;
    margin: 5rem;
    

}





footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color:crimson;
}


footer {
    width: 100%;
    height: 3.5rem;
    background: rgb(121,119,158);
    background: linear-gradient(90deg, rgba(121,119,158,1) 0%, rgba(128,78,62,1) 0%, rgba(33,3,60,1) 100%);
    text-align: center;
    padding-top: 1rem;
    bottom: 0%;
    position:fixed;
}

@media (min-width: 600px){
    .main-section{
        width: 100%;
    }
  
  
}



@media (min-width: 800px){
    .container{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .main-section{
        width: 100%;
        
    }
   
   
} 
@media (min-width: 1000px){
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
   
}